$font: "Montserrat", sans-serif;
$cool-blue: #01101f;
$cool-black: #000000;
$cool-white: #ffffff;
$cool-grey: #a7a8a8;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: $cool-white;
}

body {
  font-family: $font;
  width: 100%;
  height: 100%;
  color: $cool-white;

  &.noscroll {
    overflow: hidden;
  }
}

#myBtn,
#myBtn2 {
  position: fixed;
  z-index: 99;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn {
  bottom: 60px;
  right: 30px;
}

#myBtn2 {
  bottom: 10px;
  right: 15px;
}
