$down: (
  "xsmall": "23.475rem",
  "small": "29.9375rem",
  "medium": "47.9375rem",
  "large": "63.9375rem",
);
$up: (
  "small": "30rem",
  "medium": "48rem",
  "large": "64rem",
);

@mixin down($size) {
  @media (max-width: map-get($down, $size)) {
    @content;
  }
}

@mixin up($size) {
  @media (min-width: map-get($up, $size)) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 20rem) {
    @content;
  }
}
