@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "mixin";

$font: 'Montserrat',
sans-serif;
$cool-blue: #01101f;
$cool-black: #000000;
$cool-white: #ffffff;
$cool-grey: #a7a8a8;

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: $cool-white;
}

body {
    font-family: $font;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5fr 1fr;
    grid-template-areas:
        'header'
        'footer'
    ;
    height: 120vh;
}


header {
    grid-area: header;

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom right,
                $cool-black,
                transparent);

        z-index: 300;
    }

    &::before {
        content: '';
        background: url("/static/images/home_ka.jpg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;

        img {
            width: 6rem;
            height: 100%;
        }

        .links {
            text-transform: uppercase;
            font-weight: 900;

            li:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
    }

}

footer {
    grid-area: footer;
    background: $cool-blue;
}