@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "mixin";
@import "global";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

header {
  position: relative;
  grid-area: header;
  display: grid;
  grid-template-rows: auto 0.5fr 2.5fr;
  grid-template-areas:
    "overlay"
    "nav"
    "main";

  .overlay {
    grid-area: overlay;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top right, $cool-black, transparent);
    z-index: 300;

    .mobile_links {
      position: absolute;
      top: 16%;
      left: 4%;
      transform: translate(10%, 4%);
      display: flex;
      flex-direction: column;
      z-index: 400;

      li {
        padding-top: 2rem;
        font-family: $font;
        text-transform: uppercase;
        font-weight: 900;
      }
    }

    @include up(medium) {
      display: none;
    }
  }

  nav {
    grid-area: nav;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    z-index: 300;
    padding-top: 0.5rem;

    img {
      width: 6rem;
      height: 100%;
    }

    .toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all 5s ease-in-out;
      margin-right: -1.25rem;

      &__harmburg {
        width: 40px;
        height: 4px;
        background: white;
        transition: all 0.5s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 4px;
          width: 40px;
          background: white;
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(-0.75em);
        }

        &::after {
          transform: translateY(0.75em);
        }
      }

      @include up(large) {
        display: none;
      }
    }

    .links {
      text-transform: uppercase;
      font-weight: 900;

      li:not(:last-child) {
        margin-right: 2.5rem;
      }

      @include down(large) {
        display: none;
      }
    }
  }
  main {
    grid-area: main;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30%;

    @include down(small) {
      width: 90%;
      margin-top: 80%;
    }

    h1 {
      text-transform: uppercase;
      text-shadow: 2px 2px 2px $cool-black;
      font-size: 1.5rem;
      font-weight: 900;

      @include down(small) {
        font-size: 1.1rem;
      }
    }
  }
  .contact_main,
  .gallery_main {
    text-align-last: left;

    h1 {
      //margin-top: 0.5rem;
      font-size: 2rem;
      text-transform: capitalize;
    }

    p {
      font-size: 1.2rem;
      color: $cool-grey;
    }
  }
}

.kelvin {
  &::before {
    content: "";
    background: url("/static/images/home_ka.jpg");
  }
}

.business {
  &::before {
    content: "";
    background: url("/static/images/company_ka.jpg");
  }
}

.blog {
  &::before {
    content: "";
    background: url("/static/images/blog.jpeg");
  }
}

.foundation {
  &::before {
    content: "";
    background: url("/static/images/amber_ka.jpg");
  }
}

.books {
  &::before {
    content: "";
    background: url("/static/images/book_ka.jpg");
  }
}

.media {
  &::before {
    content: "";
    background: url("/static/images/company_ka.jpg");
  }
}

.contact {
  &::before {
    content: "";
    background: url("/static/images/contact_ka.jpg");
  }
}

.kelvin,
.business,
.blog,
.foundation,
.books,
.media,
.contact {
  &::before {
    content: "";
    //background: url("/static/images/home_ka.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(75%);
  }
}

.sticky {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 1s ease-in-out;
}

.toggle.open .toggle__harmburg {
  background-color: transparent;
}

.toggle.open .toggle__harmburg::before {
  transform: rotate(45deg);
}

.toggle.open .toggle__harmburg::after {
  transform: rotate(-45deg);
}

@import "content";
@import "footer";
