html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: $font;
  height: 100%;
  overflow-x: hidden;
  background: rgba($color: $cool-white, $alpha: 0.6);
}

.admin {
  --spacing: 2rem;

  //grid
  display: grid;
  height: 100vh;

  //grid props
  grid-template-rows: $header-height 1fr;
  grid-template-columns: $nav-width 1fr;
  grid-template-areas:
    "header header"
    "nav main";

  @include down(medium) {
    //flexbox fallback
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding-right: 1rem;
    grid-area: header;
    background: $cool-black;
    position: relative;
    z-index: 300;
  }
  &__nav {
    flex: 0 0 $nav-width;
    grid-area: nav;
    background: $cool-black;
    border-top: 0.1rem solid $cool-grey;

    a {
      color: $cool-white;
    }

    @include down(medium) {
      display: none;
      width: 100%;
      position: fixed;
      background-color: rgba($color: #000000, $alpha: 0.5);
      top: 5rem;
      left: 0;
      right: 0;
      z-index: 300;
    }
  }
  &__main {
    flex: 1;
    grid-area: main;
    padding: var(--spacing);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.logo {
  cursor: pointer;
  &__img {
    width: $header-height;
    height: 100%;
  }
}

.links {
  @include down(medium) {
    display: none;
  }

  a {
    color: $cool-white;
  }
}

.mobile {
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 5s ease-in-out;

  &__toggle {
    width: 2.5rem;
    height: 0.1rem;
    background-color: $cool-white;
    transition: all 0.2s ease-in-out;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: $cool-white;
      transition: all 0.2s ease-in-out;
    }

    &::after {
      transform: translateY(0.75rem);
      width: 2rem;
    }

    &::before {
      transform: translateY(-0.75rem);
    }
  }

  @include up(medium) {
    display: none;
  }
}

.menu {
  width: 100%;

  &__items {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    border-bottom: 0.1rem solid $cool-grey;

    .dashboard {
      &:hover {
        background-color: rgba($color: $cool-green, $alpha: 0.8);
      }
    }

    &:hover {
      background-color: rgba($color: $cool-white, $alpha: 0.6);
      transition: all 0.3s ease-in-out;
      padding-right: 0.4rem;
    }

    &:last-child {
      &:hover {
        background-color: rgba($color: $cool-red, $alpha: 0.8);
      }
    }
  }

  @include down(medium) {
    width: 100%;
  }
}

.button-group {
  display: flex;
  a {
    background-color: $cool-blue;
    color: $cool-white;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    &:hover {
      background-color: rgb(11, 74, 110);
    }
  }
}
.content {
  h1 {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    text-transform: capitalize;
    th,
    td {
      padding: 1rem;
      text-align: left;
      border-bottom: 0.1rem solid $cool-grey;
    }
    .edit {
      color: $cool-green;
    }
    .delete {
      color: $cool-red;
    }
    .publish {
      color: $cool-blue;
    }
    .edit,
    .delete,
    .publish {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      margin: 0.5rem 0 0.2rem;
      text-transform: capitalize;
      font-weight: bold;
    }
    input[type="text"],
    input[type="password"],
    select {
      padding: 0.5rem;
      outline: none;
      border: 1px solid $cool-grey;
      &:focus {
        border: 1px solid $cool-blue;
      }
    }
    button {
      width: 15rem;
      padding: 0.5rem;
      margin: 1rem 0;
      font-family: $font;
    }
  }

  .msg {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;

    .success {
      background-color: $cool-green;
      color: green;
    }
    .error {
      background-color: $cool-red;
    }

    .error {
      li {
        list-style: none !important;
      }
      color: $cool-red;
    }
  }
}

.mobile.open .mobile__toggle {
  background: transparent;
}

.mobile.open .mobile__toggle::before {
  transform: rotate(45deg);
}
.mobile.open .mobile__toggle::after {
  transform: rotate(-45deg);
}

.noscroll {
  overflow: hidden;
}
