//font
$font: "Montserrat", sans-serif;

//colors
$cool-blue: #2d75b8;
$cool-black: #000000;
$cool-white: #ffffff;
$cool-grey: #d8dada;
$cool-red: #ff0000;
$cool-green: rgb(57, 177, 57);

//width & height
$nav-width: 15.625rem;
$header-height: 5rem;
