@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "mixin";

//general
$font: "Montserrat", sans-serif;
$cool-blue: #01101f;
$cool-black: #000000;
$cool-white: #ffffff;
$cool-grey: #d8dada;
$cool-red: #ff0000;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  background-color: $cool-grey;
  height: 100%;
  width: 100%;

  @include up(large) {
    height: 100vh;
    background-image: linear-gradient(
      to right,
      $cool-black 50%,
      $cool-grey 50%
    );
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0.4rem auto;

  @include up(large) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .image-item,
  .form-item {
    width: 100%;
  }

  .image-item {
    @include up(large) {
      //background: $cool-black;
      display: inherit;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .inner_image {
      display: flex;
      justify-content: center;
      img {
        width: 6rem;
      }
      @include up(large) {
        animation: heartbeat 20s infinite linear;

        @keyframes heartbeat {
          0% {
            transform: scale(1);
          }
          20% {
            transform: scale(1.25) translateX(5%) translateY(5%);
          }
          40% {
            transform: scale(1);
          }
        }
      }
    }
  }
  .form-item {
    width: inherit;
    margin: 1rem auto;

    .inner_form {
      @include up(large) {
        width: 95%;
        margin: 0 auto;
        height: 100%;
      }
      > div {
        margin: 0.5rem 0;
      }

      .error {
        li {
          list-style: none !important;
        }
        color: $cool-red;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        margin: 0.3rem 0;
      }

      button {
        width: 6rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
        text-transform: uppercase;
        font-weight: 900;
        outline: none;
        border: 0.1rem solid $cool-blue;

        &:hover {
          background-color: #ff0000;
          color: $cool-white;
        }
      }

      hr {
        margin: 0.2rem 0;
      }
    }
  }

  .column {
    @include up(large) {
      width: 50%;
    }
  }
}
