@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

body.noscroll {
  overflow: hidden;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 1fr auto;
      grid-template-rows: 100vh 1fr auto;
      grid-template-areas: "header" "content" "footer";
}

header {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 0.5fr 2.5fr;
      grid-template-rows: auto 0.5fr 2.5fr;
      grid-template-areas: "overlay" "nav" "main";
}

header .overlay {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: overlay;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), to(transparent));
  background-image: linear-gradient(to top right, #000000, transparent);
  z-index: 300;
}

header .overlay .mobile_links {
  position: absolute;
  top: 16%;
  left: 4%;
  -webkit-transform: translate(10%, 4%);
          transform: translate(10%, 4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 400;
}

header .overlay .mobile_links li {
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

@media (min-width: 48rem) {
  header .overlay {
    display: none;
  }
}

header nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  position: fixed;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  z-index: 300;
  padding-top: 0.5rem;
}

header nav img {
  width: 6rem;
  height: 100%;
}

header nav .toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  margin-right: -1.25rem;
}

header nav .toggle__harmburg {
  width: 40px;
  height: 4px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .toggle__harmburg::before, header nav .toggle__harmburg::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .toggle__harmburg::before {
  -webkit-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
}

header nav .toggle__harmburg::after {
  -webkit-transform: translateY(0.75em);
          transform: translateY(0.75em);
}

@media (min-width: 64rem) {
  header nav .toggle {
    display: none;
  }
}

header nav .links {
  text-transform: uppercase;
  font-weight: 900;
}

header nav .links li:not(:last-child) {
  margin-right: 2.5rem;
}

@media (max-width: 63.9375rem) {
  header nav .links {
    display: none;
  }
}

header main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30%;
}

@media (max-width: 29.9375rem) {
  header main {
    width: 90%;
    margin-top: 80%;
  }
}

header main h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 29.9375rem) {
  header main h1 {
    font-size: 1.1rem;
  }
}

header .contact_main,
header .gallery_main {
  text-align-last: left;
}

header .contact_main h1,
header .gallery_main h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

header .contact_main p,
header .gallery_main p {
  font-size: 1.2rem;
  color: #a7a8a8;
}

.kelvin::before {
  content: "";
  background: url("/static/images/home_ka.jpg");
}

.business::before {
  content: "";
  background: url("/static/images/company_ka.jpg");
}

.blog::before {
  content: "";
  background: url("/static/images/blog.jpeg");
}

.foundation::before {
  content: "";
  background: url("/static/images/amber_ka.jpg");
}

.books::before {
  content: "";
  background: url("/static/images/book_ka.jpg");
}

.media::before {
  content: "";
  background: url("/static/images/company_ka.jpg");
}

.contact::before {
  content: "";
  background: url("/static/images/contact_ka.jpg");
}

.kelvin::before,
.business::before,
.blog::before,
.foundation::before,
.books::before,
.media::before,
.contact::before {
  content: "";
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.sticky {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.toggle.open .toggle__harmburg {
  background-color: transparent;
}

.toggle.open .toggle__harmburg::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle.open .toggle__harmburg::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.content {
  color: #000000;
}

.about_content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  width: 90%;
  margin: 1.5rem auto;
}

.about_content div:nth-child(2) {
  margin: 20px auto;
}

.about_content div:nth-child(2) img {
  width: 540px;
  height: 540px;
}

.about_content p {
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
}

@media (max-width: 47.9375rem) {
  .about_content p {
    text-align: center;
    letter-spacing: 2px;
  }
}

.companies_content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.companies_content h2,
.companies_content small {
  text-transform: uppercase;
}

.companies_content small {
  display: block;
  margin: 1rem 0;
}

.companies_content #btn {
  display: block;
  color: #01101f;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px #01101f solid;
}

.companies_content #btn:hover {
  background: #ff0000;
  color: #ffffff;
}

.companies_content .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 29.9375rem) {
  .companies_content .companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.companies_content .companies .box__logo img,
.companies_content .companies .active__logo img {
  width: 200px;
  height: 200px;
}

.companies_content .companies .box__card,
.companies_content .companies .active__card {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.books_content {
  width: 80%;
  margin: 2.5rem auto;
}

.books_content .content_header h2 {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.125rem;
  font-size: 2rem;
}

@media (max-width: 29.9375rem) {
  .books_content .content_header h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.books_content .content_header hr {
  width: 5rem;
  height: 0.2rem;
  background-color: black;
  border: none;
  margin: 1rem 0;
}

.books_content .contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 63.9375rem) {
  .books_content .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 48rem) {
  .books_content .contain .book-image {
    margin-top: 3.5rem;
  }
}

.books_content .contain .book-image img {
  width: 25rem;
  height: 30rem;
  overflow-x: hidden;
}

@media (max-width: 29.9375rem) {
  .books_content .contain .book-image img {
    width: 20rem;
    height: 25rem;
  }
}

@media (max-width: 47.9375rem) {
  .books_content .contain .book-image img {
    width: 15rem;
    height: 20rem;
  }
}

.books_content .contain .book-text {
  margin-top: 2rem;
}

.books_content .contain .book-text p {
  line-height: 2rem;
  font-weight: bold;
  text-align: justify;
  text-justify: auto;
}

@media (max-width: 29.9375rem) {
  .books_content .contain .book-text p {
    text-align: center;
  }
}

.books_content .contain .book-text .reference {
  text-transform: capitalize;
}

.books_content .contain .book-text .reference p {
  font-size: 1.5rem;
  font-weight: normal;
}

.books_content .contain .book-text .reference p span {
  text-transform: uppercase;
  word-spacing: 0.2rem;
  font-weight: bolder;
}

@media (max-width: 47.9375rem) {
  .books_content .contain .book-text .reference p {
    font-size: 1.2rem;
  }
}

@media (max-width: 29.9375rem) {
  .books_content .contain .book-text {
    margin-top: 2rem;
  }
}

.books_content .buy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 1rem;
}

.books_content .buy a {
  display: block;
  color: #ffffff;
  margin: 1rem auto;
  background-color: #000000;
  border-radius: 10rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.books_content .buy__one {
  text-align: center;
  width: 20rem;
  margin: auto;
}

@media (max-width: 29.9375rem) {
  .books_content .buy__one {
    width: 100%;
  }
}

.books_content .buy__two {
  width: 20rem;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 29.9375rem) {
  .books_content .buy__two {
    width: 100%;
  }
}

@media (max-width: 47.9375rem) {
  .books_content .buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact_content {
  width: 80%;
  margin: 2.5rem auto;
}

.contact_content .contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  /* .social-media {
      .instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .instagram-media {
          max-width: 30rem;
          height: 30rem;

          @include down(medium) {
            height: 40rem;
          }
        }

        @include up(medium) {
          width: 80%;
          margin: 0 auto;
        }

        @include down(small) {
          width: 100%;
        }

        @include down(xsmall) {
          margin-left: -0.9rem;
        }
      }
    }*/
}

.contact_content .contain .form {
  font-size: 1.4rem;
}

.contact_content .contain .form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.contact_content .contain .form > form input[type="text"],
.contact_content .contain .form > form input[type="email"] {
  outline: none;
  border: 0.1rem solid #01101f;
  height: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.contact_content .contain .form > form textarea {
  outline: none;
  border: 0.1rem solid #01101f;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.contact_content .contain .form > form input[type="button"] {
  text-transform: uppercase;
  width: 50%;
  height: 2rem;
  border: 0.1rem solid #01101f;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.contact_content .contain .form > form input[type="button"]:hover {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
}

.contact_content .contain .address h2 {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.contact_content .contain .address ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
}

.contact_content .contain .address ul span {
  font-weight: 900;
  margin-right: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact_content .contain .address ul li:nth-child(2) {
  margin-top: 0.5rem;
}

@media (max-width: 63.9375rem) {
  .contact_content .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.media_content {
  width: 80%;
  margin: rem auto;
}

.media_content .image-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 0.5rem;
}

.media_content img {
  width: 300px;
  height: 100%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: #01101f;
  color: #a7a8a8;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #a7a8a8;
  padding: 0.3rem;
}

footer img:hover {
  border: none;
  padding: 0;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

footer .footer-inner > ul {
  margin-bottom: 1rem;
}

footer .footer-inner > ul li {
  padding: 0 0.5rem;
}
/*# sourceMappingURL=style.css.map */